$primary-color: white;
$secondary-color: black;
$third-color: #f5000033;
$fourth-color: #292929;
$footer-color1: #24262b;
$footer-color2: #e91e63;
$footer-color3: #bbbbbb;
$footer-color4: #ffffff33;

$radius: 15px;

$pallette: (
    'primary': #0e0f4b,
    'secondary': #3c0f51,
    'third': #e9e9e9,
);

$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700,
);

$titles: 16, 20, 24, 32;

@mixin fgaleria($dir, $align, $wra:Y){
    display: flex;
    flex-direction: $dir;

    @if $dir==row {
        justify-content: $align;
    }

    @if $wra==N {
        flex-wrap: nowrap;
    } @else{
        flex-wrap: wrap;
    }
}


@mixin sty {
    background-color: $fourth-color;
    color: $footer-color3;
    margin: 10px;
    padding: 15px 5px 20px;
    border-radius: $radius;
    display: block;
    text-align: center;
    
}