@import './footer';
@import './media';
@import './header';
@import './ArteVisual';
@import './gallery';

@import './variables';
@import './functions';

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin cardstylin {
    border-radius: .5rem;
    padding: .5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat' , sans-serif;
}

.tittle {
    width: 80%;
    margin: 2rem auto;

    #{&}__small {
        margin: 1rem 0;
        font-weight: map-get($font-weight, bold);

    }
}

.btn-warning {
    @include flexcenter;
    
}

.dadcontainer {
    color: $primary-color;
    font-weight: map-get($font-weight, 'regular');
    
    display: grid;
    gap: 1.5rem;
    height: 100%;
    grid-template-columns: 1fr, 1fr;
    grid-template-areas:"subcontainer1 subcontainer2"
                        "form galeria";
}

.subcontainer1 {
    @include cardstylin;
    @include flexcenter;
    background: color('primary');

    padding: 20px
}

.subcontainer2 {
    

    @include cardstylin;
    @include flexcenter;
    background: color('secondary');
}

.form1 {
    

    @include flexcenter;
    @include cardstylin;

    background: color('secondary');
}

.btncontainer {
    @include flexcenter;

    padding: 20px 50px;
    position: relative;
    margin: 32px; 
}

.btn-1 {
    background: $secondary-color;
    color: $primary-color;
    text-decoration: none;
    border-radius: 30px;
    transition: transform 0.3s ease ;
    padding: 20px 50px;
   
}

.btn-1::after, .btn-1::before {
    content: "";
        position: absolute;
        opacity: 0.3;
        border-radius: inherit;
        background: $secondary-color;
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: transform 0.3s ease;
}

.btn-1{
    &:hover {
        transform: translate(-12px ,-12px)
    }
}

.btn-1 {
    &:hover::after {
        transform: translate(6px ,6px)
    }
}

.btn-1 {
    &:hover::before {
        transform: translate(12px ,12px)
    }
}

.gal {


    @include flexcenter;
    @include cardstylin;

    background: color('secondary');
}
@each $size in $titles {
    .title__medium-#{$size} {
        font-size: $size*1px;
    }
}
