@import './footer';
@import './media';
@import './header';
@import './ArteVisual';


@import './variables';
@import './functions';

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin cardstylin {
    border-radius: .5rem;
    padding: .5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat' , sans-serif;
}

.tittle {
    width: 80%;
    margin: 2rem auto;

    #{&}__small {
        margin: 1rem 0;
        font-weight: map-get($font-weight, bold);

    }
}

.btn-warning {
    @include flexcenter;
    
}

.dadcontainer {
    color: $primary-color;
    font-weight: map-get($font-weight, 'regular');
    
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr, 1fr;
}

.subcontainer1 {
    display: grid;
    grid-column: 2;

    @include cardstylin;
    @include flexcenter;
    background: color('primary');
}

.subcontainer2 {
    display: grid;
    grid-row: 1;

    @include cardstylin;
    @include flexcenter;
    background: color('secondary');
}

.form {
    grid-column: 1;

    @include flexcenter;
    @include cardstylin;

    background: color('primary');
}

.gallery {


    @include flexcenter;
    @include cardstylin;

    background: color('secondary');
}
@each $size in $titles {
    .title__medium-#{$size} {
        font-size: $size*1px;
    }
}