@import './variables';
@import './funciones';

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat' , sans-serif;
}

.tittle {
    width: 80%;
    margin: 2rem auto;

    #{&}__small {
        margin: 1rem 0;
        font-weight: map-get($font-weight, bold);

    }
}
